@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8kw89j');
  src:  url('fonts/icomoon.eot?8kw89j#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8kw89j') format('truetype'),
    url('fonts/icomoon.woff?8kw89j') format('woff'),
    url('fonts/icomoon.svg?8kw89j#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gitlab:before {
  content: "\f296";
}
