{% extends "base.html" %}

{% block title %}Alphabetical{% endblock %}
{% block main %}
  <h2>Alphabetical</h2>
  <ul>
    {% for project in projects -%}
    <li><a href="#{{project.name|slugify}}">{{project.name}}</a></li>
    {% endfor %}
  </ul>
  
  <h2>Project Directory</h2>
  
  {% for project in projects %}
  <h3 id="{{project.name|slugify}}">{{project.name}}</h3>
<p>Categories:
  {% for category in project.categories|sort %}
  <a href="/categories/#category-{{category|slugify}}">{{category}}</a>,
  {%- endfor %}
</p>
<p>{{project.description|markdown}}</p>

<p>Website: <tt><b><a href="{{project.website}}">{{project.website|website}}</a></b></tt></p>
<br/>
{% endfor %}

{% endblock %}
