{% extends "base.html" %}

{% block title %}By Category{% endblock %}
{% block main %}
  <h2>By Category</h2>
  
  <ul>
    {% for category in categories|sort %}
    <li id="category-{{category|slugify}}">{{category}}</li>
    <ul>
      {%- for project in categories[category] %}
      <li><a href="#{{project.name|slugify}}">{{ project.name}}</a>
	{%- endfor %}
    </ul>
    {%- endfor %}
  </ul>
    
  <h2>Project Directory</h2>
  
  {% for project in projects %}
  <h3 id="{{project.name|slugify}}">{{project.name}}</h3>
<p>Categories:
  {% for category in project.categories|sort %}
  <a href="#category-{{category|slugify}}">{{category}}</a>,
  {%- endfor %}
</p>
<p>{{project.description|markdown}}</p>

<p>Website: <tt><b><a href="{{project.website}}">{{project.website|website}}</a></b></tt></p>
<br/>
{% endfor %}

{% endblock %}
